body
{
  border-top:solid #29598c;
}

h1,h2,h3,h4,h5,h6
{
  color:#29598c;
}


h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover
{
  color:#29598c;
}


#sidebar-wrapper
{
  border-top:solid 4px #29598c;
}

.nav-toggle {
    color: #29598c;
}

.brand:hover
{
  color:#29598c;
}


blockquote
{
  border-left:2px solid #29598c;
  border-right:2px solid #29598c;
}

#welcome-greeting > h1
{
  color:#29598c;
}

#welcome-greeting h2 a
{
  color:#29598c;
}

.article-title
{
  color:#29598c;
}

.user-card h1
{
  color:#29598c;
}

code {
  color: #353FC7;
  background-color: #EEF6F9;
}

@media (max-width:767px) {
  #sidebar-wrapper {
      border-right: 4px solid #29598c;
  }
}
