@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel";
}

dl {
  list-style-type: none;
  margin-left: 20px;
}
dl li {
  margin-bottom: 10px;
}

li {
  line-height: 2;
}
@media (max-width: 769px) {
  li {
    line-height: 1.5;
  }
}
@media (max-width: 476px) {
  li {
    line-height: 1.25;
  }
}

a {
  color: #065DCF;
  text-decoration: none;
  padding: 2px 8px 2px 8px;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #FFFFFF 50%, #050E59 50%);
  transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
}
a:hover {
  background-position: 0 100%;
  color: #FFFFFF;
}

header, main {
  font-family: "Montserrat";
  font-size: 1.25rem;
  max-width: 1280px;
  padding: 5% 5% 0 5%;
}
@media (max-width: 1081px) {
  header, main {
    font-size: 1rem;
  }
}

header {
  height: calc(100vh - 61.33px);
  padding: 0 0 0 5%;
}
header div {
  width: 100%;
  position: relative;
  top: 45%;
  font-size: 5rem;
}
header div div {
  display: inline;
  vertical-align: middle;
  font-family: "Cinzel";
  font-weight: 600;
}
header div hr {
  width: 2.5rem;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  border-top: 0.5rem solid #111111;
}
@media (max-width: 1081px) {
  header div hr {
    width: 2rem;
  }
}
@media (max-width: 476px) {
  header div hr {
    width: 1.5rem;
  }
}
@media (max-width: 1081px) {
  header div {
    font-size: 3.5rem;
  }
}
@media (max-width: 476px) {
  header div {
    font-size: 2.75rem;
  }
}
header #text {
  letter-spacing: 2px;
  display: inline;
  vertical-align: middle;
  color: #E87A2D;
  margin-left: 0.2rem;
}
@media (max-width: 769px) {
  header #text::before {
    content: "";
    display: block;
  }
}
header #cursor {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 5rem;
  background-color: #E87A2D;
  animation: blink 1s step-end infinite;
}
@media (max-width: 1081px) {
  header #cursor {
    height: 3.5rem;
    width: 5px;
  }
}
@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #E87A2D;
  }
}
header:after {
  content: "";
  display: table;
  clear: both;
}

nav {
  height: 61.33px;
  padding: 0 5% 0 5%;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  font-family: "Montserrat";
  font-size: 1.25rem;
  background-color: #111111;
  color: #FFFFFF;
}
nav h3 {
  align-self: center;
  margin: 0;
  display: inline-block;
}
nav ul {
  display: inline-flex;
  list-style-type: none;
  float: inline-end;
  align-items: stretch;
  margin: 0;
}
nav ul li {
  display: flex;
  align-items: stretch;
}
nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px 0 15px;
  color: #FFFFFF;
  text-decoration: none;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #111111 50%, #E87A2D 50%);
  transition: background-position 0.2s ease-in-out, color 0.2s ease-in-out;
}
nav ul li a:hover {
  background-position: 0 100%;
  color: #111111;
}
@media (max-width: 769px) {
  nav ul li a {
    flex-grow: 1;
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 476px) {
  nav ul li a {
    padding: 8px 0 8px 0;
  }
}
@media (max-width: 769px) {
  nav ul li {
    flex-grow: 1;
    justify-content: center;
  }
}
@media (max-width: 476px) {
  nav ul li {
    flex: 1 1 50%;
  }
}
@media (max-width: 769px) {
  nav ul {
    padding: 0;
  }
}
@media (max-width: 476px) {
  nav ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 769px) {
  nav {
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 476px) {
  nav {
    text-align: center;
    padding: 0;
  }
}

section {
  margin-right: 25%;
  padding-top: 5vh;
}
section h1 {
  font-size: 2rem;
}
section p {
  line-height: 2;
  text-align: justify;
  margin: 2.5rem 0 2.5rem 0;
}
@media (max-width: 769px) {
  section {
    margin-right: 0;
    padding-top: 80px;
  }
}
section:after {
  content: "";
  display: table;
  clear: both;
}

body > footer {
  font-family: "Montserrat";
  background-color: #111111;
  color: #FFFFFF;
  padding: 1rem 1rem 1rem 5rem;
  margin: 0;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.5;
}
body > footer i {
  padding-left: 0.3%;
  padding-right: 0.3%;
}
@media (max-width: 476px) {
  body > footer {
    padding-left: 1rem;
  }
}

@media (max-width: 476px) {
  #about p {
    text-indent: 0;
  }
}
#about img {
  display: block;
  margin: auto;
  border-radius: 50%;
  max-width: 350px;
  max-height: 350px;
  min-width: 120px;
  min-height: 120px;
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  filter: grayscale(100%);
}
@media (max-width: 769px) {
  #about img {
    min-width: 180px;
    min-height: 180px;
  }
}
@media (max-width: 476px) {
  #about img {
    min-width: 150px;
    min-height: 150px;
  }
}

#contact iframe {
  width: 100%;
  height: 400px;
  border: 0px;
}
@media (max-width: 476px) {
  #contact iframe {
    height: 300px;
  }
}
#contact ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}
#contact ul li a {
  color: #111111;
  transition: color 1s;
}
#contact ul li a:hover {
  color: #E87A2D;
  background-image: none;
}
@media (max-width: 476px) {
  #contact ul li {
    flex: 1 1 33%;
  }
}

#teaching p {
  line-height: 1.5;
  margin: 0.5rem 0 0.5rem 0;
}
#teaching li {
  line-height: 1.5;
}
#teaching h3 {
  margin-bottom: 0.5rem;
}
#teaching h3 span {
  display: block;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1rem;
}
#teaching .course {
  padding-left: 1rem;
  border-left: 10px #eaeaea solid;
  margin-bottom: 35px;
}
#teaching .course .classes > ul {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
}
#teaching .course .classes > ul li {
  margin-right: 10px;
}
@media (max-width: 476px) {
  #teaching .course {
    border-left: 2px #eaeaea solid;
  }
}

.publication {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.publication .title {
  font-weight: 600;
}
.publication .authors {
  font-size: 1rem;
}
@media (max-width: 476px) {
  .publication .authors {
    font-size: 0.85rem;
  }
}
.publication aside {
  text-align: center;
  padding: 15px;
}
.publication .footer {
  display: flex;
}
.publication .footer ul {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
  display: inline-flex;
}
.publication .footer ul.keywords {
  padding: 0;
}
.publication .footer ul.keywords li {
  background-color: #111111;
  color: #FFFFFF;
  padding: 5px;
  margin-right: 10px;
  border-radius: 8px;
}
.publication .footer ul.icons {
  padding: 0;
  font-size: 1.2rem;
}
.publication .footer ul.icons li {
  margin: 0 15px 0 0;
}
.publication .footer ul.icons li a {
  color: #111111;
  transition: color 1s;
}
.publication .footer ul.icons li a:hover {
  color: #E87A2D;
  background-image: none;
}

.board {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: stretch;
}
.board::-webkit-scrollbar {
  display: none;
}
.board div {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  width: 145px;
  height: 200px;
  background-color: #111111;
  color: #FFFFFF;
}
.board div h4 {
  margin-top: -5rem;
}
.board div span {
  margin: auto;
  width: 100%;
}
@media (max-width: 476px) {
  .board div span {
    font-size: large;
  }
}
.board div footer {
  font-size: small;
  margin-top: auto;
}
@media (max-width: 476px) {
  .board div footer {
    font-size: 0.9rem;
  }
}
.board div i {
  position: inherit;
  color: rgba(255, 255, 255, 0.2);
  text-align: right;
  font-size: 5rem;
}
@media (max-width: 476px) {
  .board div {
    width: 80%;
    height: 120px;
    margin: auto;
    margin-bottom: 10px;
  }
}
@media (max-width: 476px) {
  .board {
    flex-direction: column;
    align-items: center;
  }
}

ul.badges {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
ul.badges li {
  margin: 0 10px 5px 0;
  padding: 3px 12px 3px 12px;
  border-radius: 10px;
  background-color: #111111;
  color: #FFFFFF;
}
@media (max-width: 476px) {
  ul.badges {
    font-size: 0.85rem;
  }
}
