---
layout: page
title: Projects
---

{% include JB/setup %}

<div>
	<h3>Projects</h3>
	<p>
		Checkout some projects which I am working on.
	</p>
	<p>
		Want to contribute?? Feel free to contact me :)
	</p>
	<table>
		{% for page in site.pages %}
		{% if page.group == 'project' %}
		<tr><td colspan="2"><h4><a href="{{page.link}}">{{page.title}}</a></h4></td></tr>
		<tr>
			{% if page.img != null %}
			<td><img src="{{page.img}}" style="padding: 3px 3px 0px; max-width: 400px; max-height: 300px;" /> </td>
			<td>{{page.content}}</td>
			{% else %}
			<td colspan="2">{{page.content}}</td>
			{%endif%}
		</tr>
		{% endif %}
		{% endfor %}
	</table>

</div>
