---
title: Presentations & Keynotes
---

  {% assign keynotes_by_type = site.pages | where: 'group','keynote' | group_by: 'type' %}

  <div class="container">
    <div id="article">
      <h1>{{ page.title }}</h1>
      <p>Here are some slides of my keynotes & presentations</p>
      <br>
      <center>
        {% for group in keynotes_by_type %}
        <a href="#{{group.name}}"><span class="label label-danger {{group.name}}-button">{{group.name}}</span></a>
        {% endfor %}
      </center>
      <br>
    </div>

    {% for group in keynotes_by_type %}
      {% assign keynotes = group.items %}
      <div id="article" class="{{group.name}}">
      <a name="{{group.name}}">
      <h2>{{group.name}}</h2>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td valign="top" class="td1">
              <p class="p2"><span class="s1"><b>Keynote</b></span></p>
            </td>
            <td valign="top" class="td1">
              <p class="p2"><span class="s1"><b>Description</b></span></p>
            </td>
          </tr>
          {% for keynote in keynotes %}
          <tr>
            <td valign="top" class="td2">
              <p class="p2"><span class="s2"><a href="{{keynote.link}}"><b>{{keynote.title}}</b></a></span></p>
            </td>
            <td valign="top" class="td3">
              <p class="p2"><span class="s1">{{keynote.content}}<span class="Apple-converted-space"> </span></span></p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>
