@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$font-title: 'Cinzel';
$font-body: 'Montserrat';


/* Color Theme Swatches in Hex */
// $accent-1:  #2765B0;
// $accent-2:  #4A76AB;
// $accent-3:  #4C78AC;
// $background:#F2F2F3;
// $primary:   #3F3F3F;

/* Color Theme Swatches in Hex */
$accent-1:   #E87A2D;
$accent-2:   #050E59;
$accent-3:   #065DCF;
$background: #FFFFFF;
$primary:    #111111;

/* Color Theme Swatches in Hex */
// $accent-1: #5A30F2;
// $accent-2: #6A44F2;
// $accent-3: #5F3DD9;
// $primary: #201F26;
// $background: #F2F2F2;

body {
    margin: 0;
    padding: 0;
}


header, main {
    font-family: $font-body;
    padding: 5% 5% 0 5%;
    font-size: 1.25em;
    max-width: 1280px;


    section {
        margin-right: 25%;

        @include clearfix;
    }
}

nav {
    height: 5vh;
    padding: 0 5% 0 5%;
    position: sticky;
    top: 0;
    z-index: 999;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    font-family: $font-body; 
    font-size: 1.25em;

    background-color: $primary;
    color: $background;



    h3 {
        align-self: center;
        margin: 0;
        display: inline-block;
    }

    ul {
        display: inline-flex;
        list-style-type: none;
        float: inline-end;
        align-items: stretch;

        margin: 0;
                
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
           
            padding: 0 15px 0 15px;
            
            transition: background-color 0.2s;
            
            a {
                color: $background;
                text-decoration: none;
            }

            &:hover {
                background-color: lighten($accent-1, 10%);
            }
        }
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
}

li {
    line-height: 2;
}

a {
    
}


#text {
	letter-spacing: 2px;
	display: inline;
	vertical-align: middle;
	color: $accent-1;
    margin-left: 0.2em;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 1em;
	background-color: $accent-1;
	animation: blink 1s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: $accent-1; 
	}
}

header {
    height: 95vh;
    padding: 0 0 0 5%;

    div {
        width: 100%;
        position: relative;
        top: 45%;
        font-size: 2.0em;

        div {
            display: inline;
            vertical-align: middle;
            font-family: $font-title;
            font-weight: 600;
        }

        hr {
            width: 1.5em;
            margin-left: 0px;
            border-top: 0.5em solid $primary;
        }
    }

    @include clearfix;
}


section {
    padding-top: 40px;
    h1 {
        font-size: 2em;
    }

    p {
        line-height: 2;
        text-align: justify;
        margin: 2.5em 0 2.5em 0;
    }
}


body > footer {
    font-family: $font-body;
    background-color: $primary;
    color: $background;

    padding: 1em 1em 1em 5em;
    margin: 0;

    text-align: left;
    font-size: 0.9em;
    line-height: 1.5;

    i {
        padding-left: 0.3%;
        padding-right: 0.3%;
    }
}

#about {
    p {
        text-indent: 3em;
    }

    img {
        display: block;
        margin: auto;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        filter: grayscale(100%);
        object-fit: cover;
    }
}

#contact {
    
    iframe {
        width: 100%;
        height: 400px;

        border: 0px;
    }

    ul {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        padding: 0;
        list-style-type: none;

        li {
            padding: 0 1em 0 0;           
        }
    }
}

#teaching {

    p {
        line-height: 1.5;   
        margin: 1.5em 0 1.5em 0; 
    }

    li {
        line-height: 1.5;
    }

    h3 {
        span {
            display: block;
            font-family: $font-body;
            font-weight: normal;
            font-size: 0.7em;
        }
    }

    .course {
        padding-left: 1em;
        border-left: 10px lighten($primary, 95%) solid;
        margin-bottom: 35px;

        .classes {
            & > ul {
                margin-top: 5px;
                margin-bottom: 5px;
                padding: 0;
    
                list-style-type: none;
                display: inline-flex;
    
                li {
                    margin-right: 10px;
                }
            }
        }
    }


}


.publication {
    display: flex;
    align-items: center;
    margin-top: 30px;

    .title {
        font-weight: 600;
    }

    .authors {
        font-size: 0.8em;
    }

    aside {
        text-align: center;
        padding: 15px;
    }

    .footer {
        display: flex;

        ul {
            margin-top: 5px;
            margin-bottom: 5px;
            list-style-type: none;
            display: inline-flex;

            &.keywords {
                padding: 0;

                li {
                    background-color: $primary;
                    color:$background;
                    padding: 5px;
                    margin-right: 10px;
                    font-size: 0.6em;
                    border-radius: 8px;
                }
            }

            &.icons {
                padding: 0;

                li {
                    margin: 0 15px 0 0;
                }
            }
        }
    }
}

.board {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    div {
        flex-basis: content;
        display: flex;
        flex-direction: column;

        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        width: 145px;
        height: 200px;

        background-color: $primary;
        color: $background;


        span {
            margin: auto;
            width: 100%;
        }

        footer {
            font-size: small;
            margin-top: auto;
            
        }

        i {
            position: inherit;
            color: rgba($background, 0.2);
            text-align: right;
            font-size: 5em;
        }

        h4 {
            margin-top: -5em;
        }
    }
}

ul.badges {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;

    list-style-type: none;
    display: inline-flex;

    font-size: 0.75em;

    li {
        margin: 0 20px 0 0;
        padding: 3px 12px 3px 12px;
        border-radius: 10px;

        background-color: $primary;
        color: $background;
    }
}