@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$font-title: 'Cinzel';
$font-body: 'Montserrat';

$primary-color: black;
$highlight-color: blue;
$background-color: white;

body {
    font-family: $font-body;
    padding: 5%;
    font-size: 1.25em;
    max-width: 1280px;


    section {
        min-height: 100vh;
        margin-right: 25%;

        @include clearfix;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
}



#text {
	letter-spacing: 2px;
	display: inline;
	vertical-align: middle;
	color: $highlight-color;
    margin-left: 0.2em;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 1em;
	background-color: $highlight-color;
	animation: blink 1s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: $highlight-color; 
	}
}

header {
    height: 85vh;

    div {
        width: 100%;
        position: relative;
        top: 45%;
        font-size: 2.0em;

        div {
            display: inline;
            vertical-align: middle;
            font-family: $font-title;
            font-weight: 600;
        }

        hr {
            width: 1.5em;
            margin-left: 0px;
            border-top: 0.5em solid $primary-color;
        }
    }

    @include clearfix;
}

nav {
    position: sticky;
    top: 0;
    background-color: $background-color;
    z-index: 999;

    h3 {
        display: inline-block;
        margin-bottom: 5px;
        border-bottom: 0.1em solid $primary-color;
    }

    ul {
        display: inline-flex;
        list-style-type: none;
        float: inline-end;
        margin-bottom: 5px;

        li {
            padding: 0 15px 0 15px;
        }
    }
}

section {
    padding-top: 80px;
    h1 {
        font-size: 2em;
    }

    p {
        line-height: 2;
        text-align: justify;
        margin: 2.5em 0 2.5em 0;
    }
}

#about {
    p {
        text-indent: 3em;
    }

    img {
        display: block;
        margin: auto;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        filter: grayscale(100%);
        object-fit: cover;
    }
}

.publication {
    display: flex;
    align-items: center;
    margin-top: 30px;
    // border-left: 10px lighten($primary-color, 95%) solid;
    // padding-left: 0.5em;


    .title {
        font-weight: 600;
    }

    .authors {
        font-size: 0.8em;
    }

    aside {
        text-align: center;
        padding: 15px;
    }

    .footer {
        display: flex;

        ul {
            margin-top: 5px;
            margin-bottom: 5px;
            list-style-type: none;
            display: inline-flex;

            &.keywords {
                padding: 0;

                li {
                    background-color: $primary-color;
                    color:$background-color;
                    padding: 5px;
                    margin-right: 10px;
                    font-size: 0.6em;
                    border-radius: 8px;
                }
            }

            &.icons {
                // margin-left: auto;
                padding: 0;


                li {
                    margin-right: 15px;
                }
            }
        }
    }
}

.board {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    div {
        flex-basis: content;
        display: flex;
        flex-direction: column;

        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        width: 145px;
        height: 200px;

        background-color: $primary-color;
        color: $background-color;


        span {
            margin: auto;
            width: 100%;
        }

        footer {
            font-size: small;
            margin-top: auto;
            
        }

        i {
            position: inherit;
            color: rgba($background-color, 0.2);
            text-align: right;
            font-size: 5em;
        }

        h4 {
            margin-top: -5em;
        }
    }
}