@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$font-title: 'Cinzel';
$font-body: 'Montserrat';

$primary-color: black;
$highlight-color: blue;
$background-color: white;

body {
    font-family: $font-body;
    padding: 5%;
    font-size: 1.25em;


    section {
        min-height: 100vh;
        margin-right: 25%;

        @include clearfix;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
}


#text {
	display: inline;
	vertical-align: middle;
	color: $highlight-color;
	letter-spacing: 2px;
    margin-left: 0.2em;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 1em;
	background-color: $highlight-color;
	animation: blink 1s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: $highlight-color; 
	}
}

header {
    height: 85vh;

    div {
        width: 100%;
        position: relative;
        top: 45%;
        font-size: 2.0em;

        div {
            display: inline;
            vertical-align: middle;
            font-family: $font-title;
            font-weight: 600;
        }

        hr {
            width: 1.5em;
            margin-left: 0px;
            border-top: 0.5em solid $primary-color;
        }
    }

    @include clearfix;
}

nav {
    position: sticky;
    top: 0;
    background-color: $background-color;
    z-index: 999;

    h3 {
        display: inline-block;
        margin-bottom: 5px;
        border-bottom: 0.1em solid $primary-color;
    }

    ul {
        display: inline-flex;
        list-style-type: none;
        float: inline-end;
        margin-bottom: 5px;

        li {
            padding: 0 15px 0 15px;
        }
    }
}


#about {
    padding-top: 80px;
    p {
        line-height: 2;
        margin: 2.5em 0 2.5em 0;
        text-indent: 3em;
        text-align: justify;
    }

    img {
        display: block;
        margin: auto;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        filter: grayscale(100%);
        object-fit: cover;
    }
}